{
	"target": "linux/amd64",
	"http": "127.0.0.1:56741",
	"workdir": "/home/l392zhan/Desktop/fuzz/workdir",
	"kernel_obj": "/home/l392zhan/Desktop/fuzz/linux",
	"image": "/home/l392zhan/Desktop/fuzz/debian/bullseye.img",
	"sshkey": "/home/l392zhan/Desktop/fuzz/debian/bullseye.id_rsa",
	"syzkaller": "/home/l392zhan/Desktop/syzkaller",
	"procs": 8,
	"type": "qemu",
	"vm": {
		"count": 1,
		"kernel": "/home/l392zhan/Desktop/fuzz/linux/arch/x86/boot/bzImage",
		"cpu": 2,
		"mem": 2048,
		"cmdline": "net.ifnames=0"
	}
}